<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>vzvryfxv.yhxnfm@tznvy.pbz</string>
	<key>contactName</key>
	<string>Lucas</string>
	<key>description</key>
	<string>&lt;a href="http://tintin.sourceforge.net/"&gt;TinTin++&lt;/a&gt; bundle with syntax etc.</string>
	<key>name</key>
	<string>TinTin++</string>
	<key>uuid</key>
	<string>DF2AAC95-2C23-4EF8-9A58-402E1BD12795</string>
</dict>
</plist>
